@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

/* create login css */

.wrapper {
  height: 100vh;
  width: 100%;
  
  background-color: #258ea6;
  display: flex;
}


.form-wrapper {
  margin: 0 auto;
  margin-top: 150px;
  width: 400px;
 
  display: flex;
  flex-direction: column;
  
  padding: 20px 40px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  
}

form {
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;
  
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName {
  width: 49%;
}

.email,
.password {
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
  
}

/* .header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 2px solid black;
  box-shadow: 0px 10px 5px #000;
  z-index: 100;
} */
/* end of css for createLogin */

/* styles for modal form */
.ant-modal-body {
  text-align: center;
 
}

.ant-modal-header, .ant-modal-body, .post-textarea, .ant-modal-footer, .ant-btn {
  border: 2px solid black;
}

.ant-modal-title {
  font-weight: 900;
  font-size: 1.7em;
  color:#000;
 
}


.ant-modal-header {
  border-bottom: none;
}

.ant-modal-footer {
  border-top: none;
}

.ant-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
   
}

.ant-modal-body .ant-btn {
  height: 80px;
  width: 150px;
  color: #fff;
  font-weight: 700;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px black;
  background-color: #519e8a;
}

.ant-modal-body .ant-btn:hover {
    transform: scale(1.1)
}

.ant-modal-body .ant-btn:active {
  transform: scale(1.08);
}





.ant-modal-content {
  box-shadow: 1px 1px 12px 3px black;
}

.post-textarea {
  width: 60%;
  height: 100px;
  margin-top: 15px;
 
}

.ant-modal-footer div button {
  width: 100px;
  height: 50px;
  color: #fff;
  background-color: rgba(253,100,100);
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
  font-size: 1.12em;
}

.ant-modal-footer div button:hover {
  background-color: rgba(253,100,100,0.8);
  transform: scale(1.1);
  color: #fff;
  border: 2px solid black;
}

.ant-modal-footer div button:active {
  background-color: rgba(253,100,100); 
  transform: scale(0.99)
}

.ant-modal-footer div .ant-btn-primary {
  background-color: rgb(17, 160, 249)
}

.ant-modal-footer div .ant-btn-primary:hover {
  background-color: rgba(17, 160, 249,0.8);
  transform: scale(1.1);
  border: 2px solid black;
}


