@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

/* create login css */

.wrapper {
  height: 100vh;
  width: 100%;
  background: url('./assets/wiggle.svg');
  background-color: rgba(255,255,255);
  display: flex; 
}



.form-wrapper {
  margin: 0 auto;
  margin-top: 25px;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
 
}

.form-wrapper-navigation {
  margin: 0 auto;
  margin-top: 150px;
  width: 400px;
  border-radius: 10px;
  border: 2px solid black;
  height: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 8px black;
}
.form-wrapper-navigation .nav-button-login{
 
  background-color: rgba(250,101,104);
  margin-left: 2%;
  /* -webkit-text-stroke: 0.5px black; */
}



.nav-button-register {
  background-color: rgb(84,157,138)
}

.nav-button-login, .nav-button-register {
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 1px 3px black;
}

.nav-button-login:hover, .nav-button-register:hover {
    transform: scale(1.02);
    cursor: pointer;
    
}

.nav-button-login:before, .nav-button-register:before{
  content: "";
  position: absolute;
  width: 60%;
  height: 4px;
  border-top: 2px solid black;
  bottom: 15px;
  left: 30px;
  background-color: rgba(255,255,255,0.6);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-button-login:before {
  width: 40%;
  left: 45px;
}

.nav-button-login:hover:before, .nav-button-register:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.form-wrapper-navigation button {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid black;
}

form {
  width: 100%;
   display: flex;
  flex-wrap: wrap;
  
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.email,
.username,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.email,
.username,
.password {
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

/* end of css for createLogin */


/* styles for LoginUser*/
.login-button button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;

}
.login-button button:hover{
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}
.login-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*ending styles for LoginUser*/

/* styles for CreateLoginNavigation*/

   .nav-controller {
    padding-top: 17%;
   
    
   
  } 
  .nav-button {
    font-size: 20px;
  }

/* styles for modal form */
.ant-modal-body {
  text-align: center;
 
}

.ant-modal-header, .ant-modal-body, .post-textarea, .ant-modal-footer, .ant-btn {
  border: 2px solid black;
}

.ant-modal-title {
  font-weight: 900;
  font-size: 1.7em;
  color:#000;
 
}

.ant-modal-header {
  border-bottom: none;
}

.ant-modal-footer {
  border-top: none;
}

.ant-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
   
}

.ant-modal-body .ant-btn {
  height: 80px;
  width: 150px;
  color: #fff;
  font-weight: 700;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px black;
  background-color: #519e8a;
}

.ant-modal-body .ant-btn:hover {
    transform: scale(1.1)
}

.ant-modal-body .ant-btn:active {
  transform: scale(1.08);
}





.ant-modal-content {
  box-shadow: 1px 1px 12px 3px black;
}

.post-textarea {
  width: 60%;
  height: 100px;
  margin-top: 15px;
 
}

.ant-modal-footer div button {
  width: 100px;
  height: 50px;
  color: #fff;
  background-color: rgba(253,100,100);
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
  font-size: 1.12em;
}

.ant-modal-footer div button:hover {
  background-color: rgba(253,100,100,0.8);
  transform: scale(1.1);
  color: #fff;
  border: 2px solid black;
}

.ant-modal-footer div button:active {
  background-color: rgba(253,100,100); 
  transform: scale(0.99)
}

.ant-modal-footer div .ant-btn-primary {
  background-color: rgb(17, 160, 249)
}

.ant-modal-footer div .ant-btn-primary:hover {
  background-color: rgba(17, 160, 249,0.8);
  transform: scale(1.1);
  border: 2px solid black;
}


